:root { 
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --border-radius-24: 24px;
    --border-radius-12: 12px;
    --border-radius-8: 8px;
    --purple-color: rgba(106, 11, 255, 1);
    --black-color-900: rgba(25, 25, 25, 1);
    --black-color-800: rgba(48, 48, 48, 1);
    --black-color-400: rgba(140, 140, 140, 1);
    --white-color: rgba(255, 255, 255, 1);
    ---shadow: 0 4px 10px rgba(106, 99, 118, 0.1);
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--black-color-900);
  font-weight: var(--font-weight-500);
  line-height: 1;
  line-height: 120%;
  width: 100%;

}

.container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}